.book{
    font-family: Helvetica;
    line-height: 1.75;
    border: 10px solid #c2ff3b;
}
.default-button{
    width: 200px;
    height: 50px;
    border: solid 5px #c2ff3b;
    background-color: #fff;
    color: #c2ff3b;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Helvetica;
}

.super-button{
    width: 500px;
    height:200px;
}

.input{
    width: 200px;
    height:40px;
    padding-left: 20px;
    box-sizing: border-box;
    border:solid 2px #c2ff3b;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica;
}

body {
    background-color: #333333;
    color: #fff;
}